<div class="panel panel-default">
	<!-- Sidebar panel contents -->
	<div class="panel-heading">Clients</div>
	<div class="panel-body">
		<!-- Sidebar List group -->
		<ul class="list-group"></ul>
	</div>
</div>